In [22]:
import pandas as pd
import numpy as np

In [20]:
base = pd.read_csv('dataset.csv', sep=';')

In [21]:
base.head()

                                          Text Sentiment
0                    este trabalho e agradável   alegria
1              gosto de ficar no seu aconchego   alegria
2  fiz a adesão ao curso hoje porque eu gostei   alegria
3                   eu sou admirada por muitos   alegria
4                            adoro como você e   alegria

In [25]:
base.Sentiment.value_counts()

alegria     161
medo        156
raiva       152
tristeza    149
nojo        143
surpresa    141
Name: Sentiment, dtype: int64